.App {
  padding-top: 30px;
  text-align: center;
}

.SearchForm-container {
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

.MoviesList-item{
  margin-bottom: 24px;
  width: 48%;
}
